.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: rgba(1, 22, 30, 0.8);
}

.scroll-bar {
    -fx-pref-width: 10px;
    -fx-opacity: 0.7;
}

.increment-button, .decrement-button {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.moto-item {
    -fx-padding: 20;
    -fx-border-color: #598392;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-cursor: hand;
}